<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyu.mapper.StudentsMapper">
    <insert id="addStudentsInfo" parameterType="com.deyu.pojo.Students">
        insert into deyu.students (s_id,s_name,s_sex,s_proid,s_nation,s_add,s_home,s_dadname,s_dadadd,s_mumname,s_mumadd,s_class,s_room,collegeid,majorid,teacherid,score,s_apartment,s_dormitory,apartment,dormitory,openid) VALUES
            (#{s_id},#{s_name},#{s_sex},#{s_proid},#{s_nation},#{s_add},#{s_home},#{s_dadname},#{s_dadadd},#{s_mumname},#{s_mumadd},#{s_class},#{s_room},#{collegeid},#{majorid},#{teacherid},#{score},#{s_apartment},#{s_dormitory},#{apartment},#{dormitory},#{openid})
    </insert>

    <update id="updateStudentsInfo" parameterType="com.deyu.pojo.Students">
        update deyu.students
        set s_name=#{s_name},
            s_sex=#{s_sex},
            s_add=#{s_add},
            s_home=#{s_home},
            s_dadname=#{s_dadname},
            s_dadadd=#{s_dadadd},
            s_mumname=#{s_mumname},
            s_mumadd=#{s_mumadd},
            s_class=#{s_class},
            s_room=#{s_room},
            collegeid=#{collegeid},
            majorid=#{majorid},
            teacherid=#{teacherid},
            s_apartment=#{s_apartment},
            s_dormitory=#{s_dormitory},
            apartment=#{apartment},
            dormitory=#{dormitory}
        where s_id = #{s_id};
    </update>
    <!--学生学分更改-->
    <update id="ChangeStudentScore" parameterType="com.deyu.pojo.Students">
        update deyu.students
        set score=#{score}
        where s_id=#{s_id}
    </update>
    <delete id="deleteStudentsInfo" parameterType="com.deyu.pojo.Students">
        delete from deyu.students where s_id=#{s_id}
    </delete>
    <select id="selectStudentsInfo" resultType="com.deyu.pojo.Stu_view">
        select  * from deyu.stu_view
            <where>
                <if test="Keyword!= null || Keyworg!= ''">
                    and concat_ws("",s_id,s_name,s_class,teacherinfo,apartmentinfo,dormitoryinfo) regexp #{Keyword}
                </if>
            </where>
            limit #{page},#{limit}
    </select>
    <!--关键字查询-->
    <select id="selectWhereStudent" resultType="com.deyu.pojo.Stu_view">
        select * from deyu.stu_view
    </select>
    <!--查看编辑-->
    <select id="queryStudent" resultType="com.deyu.pojo.Stu_view">
        select * from deyu.stu_view
        where s_id=#{s_id}
    </select>
    <!--查看学生学分-->
    <select id="selectStudentScore" resultType="com.deyu.pojo.Stu_view">
        select * from deyu.stu_view
        where s_id=#{s_id} and s_proid=#{s_proid}
    </select>
    <!-- 按照身份证查看是否存在-->
    <select id="queryStudentproid" resultType="com.deyu.pojo.Stu_view">
        select * from deyu.stu_view
        where s_porid=#{s_porid}
    </select>
</mapper>